<h1>Edit Your Tidbit</h1>
<%= form_for [@user, @article] do |f| %>
  <p>
    Style Name: <%= f.text_field :name %><br>
  </p>
  <p>
    Image 1: <%= f.text_field :img1 %><br>
  </p>
  <p>
    Caption 1:<br>
    <%= f.text_area :cap1 %><br>
  </p>
  <p>
    Image 2: <%= f.text_field :img2 %><br>
  </p>
  <p>
    Caption 2:<br>
    <%= f.text_area :cap2 %><br>
  </p>
  <p>
    Image 3: <%= f.text_field :img3 %><br>
  </p>
  <p>
    Caption 3:<br>
    <%= f.text_area :cap3 %><br>
  </p>
  <p>
    Vidbit:<br>
    <%= f.url_field :vid %><br>
  </p>
  <%= f.submit "Submit" %>
<% end %>

<footer>
  <%= link_to "BACK", user_path(current_user) %>
</footer>
