<h2>Edit Your Tidbit</h2>
<!-- errors -->
<div id="article-errors">
  <% @article.errors.full_messages.each do |msg| %>
    <%= msg %><br>
  <% end %>
</div>

<!-- form -->
<div id="edit-bit-form">
  <%= form_for [@user, @article] do |f| %>
    <p>
      Style Name <%= f.text_field :name %><br></p>
    <p>
      Image1 URL <%= f.url_field :img1 %><br>
    </p>
    <p>
      Caption1 <%= f.text_area :cap1, :rows => "5" %><br>
    </p>
    <p>
      Image2 URL <%= f.url_field :img2 %><br>
    </p>
    <p>
      Caption2 <%= f.text_area :cap2, :rows => "5" %><br>
    </p>
    <p>
      Image3 URL <%= f.url_field :img3 %><br>
    </p>
    <p>
      Caption3 <%= f.text_area :cap3, :rows => "5" %><br>
    </p>
    <p>
      Vidbit (Optional) <%= f.text_field :vid %><br>
    </p>
    <%= f.submit "SUBMIT" %>
  <% end %>
</div>

<div class="links">
  <%= link_to "BACK TO PROFILE", user_path(current_user) %> |
  <%= link_to "SIGN OUT", "/" %>
</div>
