<h1>Hair Expo Tidbits</h1>

<!-- show all user articles -->
<% @articles.each do |article| %>
<p id="bit-info">
  <!-- user article path changes depending on user -->
  <%= link_to "#{article.name}", "/users/#{current_user.id}/articles/#{article.id}", id: "bit-link" %><br>
  <%= article.user_id %> | POSTED: <%= article.created_at.strftime("%b %d %Y") %>
</p>
<% end %>
<br>
<%= link_to "PROFILE", user_path(current_user) %> |
<%= link_to "SIGN OUT", "/" %>
