<h2>Tidbit: "<%= @article.name %>"<br></h2>

<img src="<%= @article.img1 %>" id="img1"></img>

<p id="cap1"><%= @article.cap1 %></p>

<img src="<%= @article.img2 %>" id="img2"></img>

<p id="cap2"><%= @article.cap2 %></p>

<img src="<%= @article.img3 %>" id="img3"></img>

<p id="cap3"><%= @article.cap3 %></p>

<img src="<%= @article.vid %>" id="vid"></img>
