<%= form_for @user do |f| %>
  <p>
    Username:<br>
    <%= f.text_field :user_name %><br>
  </p>
  <p>
    Password:<br>
    <%= f.password_field :password %><br>
  </p>
  <p>
    Password Confirmation:<br>
    <%= f.password_field :password_confirmation %><br>
  </p>
  <p>
    Avatar URL:<br>
    <%= f.text_field :avatar %><br>
  </p>
  <%= f.submit "Submit" %>
<% end %>
