<!-- errors -->
<div id="user-errors">
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %><br>
  <% end %>
</div>

<!-- form -->
<div id="user-account-forms">
  <%= form_for @user do |f| %>
    <p> Username <%= f.text_field :user_name %><br></p>
    <p> Password <%= f.password_field :password %><br></p>
    <p> Password Confirmation <%= f.password_field :password_confirmation %><br></p>
    <p> Avatar URL <%= f.text_field :avatar %><br></p>
    <%= f.submit "SUBMIT" %>
  <% end %>
</div>
