<!-- h2: displays user name, user avatar -->
<img src="<%= @user.avatar %>"></img>
<h4> <%= @user.user_name %> </h4>

<!-- link to create article -->
<button id="new-bit">
  <%= link_to "CREATE TIDBIT", new_user_article_path(current_user) %>
</button>

<!-- p: list of user articles -->
<div id="user-bits">Your Tidbits</div>
<table><br>
  <% @user_articles.each do |article| %>
  <tr>
    <td>
      <div id="user-articles">
        <%= link_to "#{article.name}", "/users/#{current_user.id}/articles/#{article.id}" %>
      </div>
      <div class="dates" id="create-date">
        Created: <%= article.created_at.strftime("%b %d %Y, %H:%M") %>
      </div>
      <div class="dates" id="update-date">
        Last Updated: <%= article.updated_at.strftime("%b %d %Y, %H:%M") %>
      </div>
    </td>
    <td>
      <div id="edit-link">
        <%= link_to "EDIT", "/users/#{current_user.id}/articles/#{article.id}/edit" %>
      </div>
    </td>
    <td>
      <div id="delete-link">
        <%= link_to "DELETE", "/users/#{current_user.id}/articles/#{article.id}",
              method: :delete,
              data: { confirm: "Delete Bit?" } %>
      </div>
    </td>
  </tr>
  <% end %>
</table><br>


<!-- links to all expo tidbits, update account, log out -->
<%= link_to "TIDBIT GALLERY", "/users/#{current_user.id}/articles" %> |
<%= link_to "UPDATE ACCOUNT", edit_user_path(@user) %> |
<%= link_to "SIGN OUT", "/" %>
