<!-- h2: displays user name, user avatar -->
<img src="<%= @user.avatar %>"></img>
<h4> <%= @user.user_name %> </h4>

<!-- link to create article -->
<%= link_to "CREATE TIDBIT", new_user_article_path(current_user) %><br>

<!-- p: list of user articles -->
<h4 id="user-tidbits">Your Tidbits</h4>
<% @user_articles.each do |article| %>
<div id="user-articles">
  <%= link_to "#{article.name}", "/users/#{current_user.id}/articles/#{article.id}" %>
</div><br>
<% end %>

<!-- links to all expo tidbits, update account, log out -->
<%= link_to "TIDBITS GALLERY", "/users/#{current_user.id}/articles" %> |
<%= link_to "UPDATE ACCOUNT", edit_user_path(@user) %> |
<%= link_to "SIGN OUT", "/" %>
