<h1>Hair Expo</h1>
<!-- p: description of community -->
<p id="description">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>


<!-- round divs: demo tidbit -->
<div id="circles">
  <ul id="row1">
    <li>
      <%= link_to image_tag("hair-f-3c-curls.jpg" , size: "180x180", id: "demo", alt: "VIEW TIDBIT"), "/" %>
    </li>
    <li><%=image_tag("hair-m-balding.jpg" , size: "180x180")%></li>
    <li><%=image_tag("hair-f-pixie.jpg" , size: "180x180")%></li>
  </ul>
  <ul id="row2">
    <li><%=image_tag("hair-m-wet-curls.jpg" , size: "180x180")%></li>
    <li><%=image_tag("hair-m-wolverine.jpg" , size: "180x180")%></li>
    <li><%=image_tag("hair-f-scarf.jpeg" , size: "180x180")%></li>
  </ul>
  <ul id="row2">
    <li><%=image_tag("hair-m-pomp.jpg" , size: "180x180")%></li>
    <li><%=image_tag("hair-f-kid.jpg" , size: "180x180")%></li>
    <li><%=image_tag("hair-f-teen.jpg" , size: "180x180")%></li>
  </ul>
</div>


<!-- links to log in & sign up  -->
<%= link_to "SIGN IN", "/signin" %> | <%= link_to "SIGN UP", "/users/new" %>
